
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	width: 1140px;
	line-height: 1;
	background-color: 
	rgba(255, 254, 248, 1);
}

.barre-edition {
	width: 1440px;
	margin-left: -150px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;	
	gap: 20px;
}

.barre-edition i {

	color: white;
}

.titre {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.titre h2 {
padding-bottom: 0;
}

header {
	display: flex;
	flex-direction: column;
	margin: 0px 0 ;
}


.header-login {
	display: flex;
	flex-direction: row;
	padding-right: 10px;
}

.footer-login {
	margin: auto;
	margin-top:380px ;
}

.menu {
	display: flex;
	justify-content: space-between;
}


.fa-pen-to-square{
	color: white;
}

.titre .fa-pen-to-square {
	color: black;
	margin-right: 5px;
	margin-left: 20px;
}

.barretop p{
	color: white;
	text-align: center;
	margin-left: 0;
	padding: 1.5em;

}

.filters {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.filter {
	margin-right: 10px;
	margin-bottom: 50px;
	padding: 10px;
	color: rgba(29, 97, 84, 1);;
	border: 1px solid  rgba(29, 97, 84, 1);
	border-radius: 50px;
}

.filter-active {
	background-color: rgba(29, 97, 84, 1);
	color: white;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin:150px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	
}

#filtre {
	text-align: center;
}

#filtre ul li {
	display: inline-block;
	margin: 25 5 25 5;
	padding: 10 10 10 10;
	border: 1px solid #1D6154;
	border-radius: 60px;
	text-align: center;
}

#filtre a {
	font-family: syne;
	font-size: 16px;
color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 45px;
}

.gallery img {
	width: 100%;

}
#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.modal-button {
	font-family: 'Syne';
	width: 237px;
	height: 36px;
	color: white;
	background-color: #1D6154;
display: flex;
align-items: center;
justify-content: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 630px;
	height: 688px;
	padding: 20px;
	min-height: 250px;
	position:absolute;
	margin: auto;
	top: 711px;
	left: 450px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 15px;
  }

	

	.modal-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	align-items: center;
	gap: 35px;
	}

	#titre,
	#categorie {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-style: none;
		margin-top: -27px;
	}
  
.modal-box p {
	margin-bottom: 0;
}

.modal-header {
	padding-left: 630px;
margin-top: 15px;
}

.modal-box h3 {
	width: 173px;
	align-items: center;
	font-size: 26px;
}


.gallery-mod {
	display:flex;
	flex-wrap: wrap;
}

.line {
width: 420px;
color: rgba(179, 179, 179, 1);
margin-bottom: 30px;
}

.div-image {
	position: relative;
}

.div-image img {
	width: 76px;
	height:102px;
	margin: 10px;
}

.fa-trash-can::before {
background-color: black;
padding: 2px;

}

.fa-trash-can {
	color: white;
	top: 16px;
	right: 13px;
	font-size: 10px;
	position: absolute;
	z-index: 2;
}




  .modal .flex {
	display: flex;
	align-items: center;
	justify-content: flex-end;

  }
  
  .modal input {
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 0.9em;
  }



    .center {
		width: 630px;
		height: 688px;
		radius: 10px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	  }
  
  #modalContent img {
	width: 76.86px;
	height: auto;
	margin: 15 15 15 15;
	Top: 796px;
    Left: 681.47px;
}

#modalContent {
	padding: 10;


}
  .modal p {
	font-size: 0.9rem;
	color: #777;
	margin: 0.4rem 0 0.2rem;
  }
  
  button {
	margin-left: 30%;
	cursor: pointer;
	border: none;
	font-weight: 600;
  }
  
  .btn {
	display: flex;
	justify-content: center;
	padding: 0.8rem 1.4rem;
	font-weight: 700;
	background-color:#1D6154;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	color: white;
	size: 14px;
	text-align: center;
	font-size: 1em;
  }
 


  .btn-close {
display: flex;
justify-content: flex-end;
  }
  
  h3{
padding-top: 30px;
font-weight: 400;
line-height: 30.5px;
  }

  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }


	.modal-header {
		display: flex;
	margin-left: 0;
	padding-right: 20px;
	}

.fa-arrow-left {
	margin-left: -610px;
}

	.div-photo {
		width: 420px;
		height: 169px;
		display: flex;
	flex-direction: column;
	align-items: center;
justify-content: space-evenly;
background-color:rgba(232, 241, 246, 1) ;
position: relative;
	}

	#titre, 
	#categorie {
		margin-top: 30px;
		height: 51px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

	.div-photo i{
		background-color: (68, 68, 68, 1);
		width: 76px;
		height: 76px;
		z-index: 0;
		opacity: 20%;
		
	}

	.div-photo a{
	align-content: center;
text-align: center;
		width: 180px;
		height: 36px;
		border-radius: 50px;
		color: rgba(48, 102, 133, 1);
		opacity: 20%;
		z-index: 0;
			}

	.div-photo p{
		font-size: 10px;
z-index: 0;
	}

	.div-photo img {
	position: absolute;
	width: auto;
	height: 100%;
	
	}

	#contact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#contact h2 {
		margin-bottom: 30px;
	}

	#contact form {
		width: 379px;
		gap: 30px;
	}

 #name,
 #email,
 #message {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-style: none;
	}

	label {
		margin-bottom: -27px;
	}

	#name,
	#email {
		height: 51px;
	}

footer {
	width: 1440px;
	height: 60px;
	background-color: rgba(255, 255, 255, 1);
	align-content: center;
}

	.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999; /* Assure que l'overlay soit au-dessus de tout le contenu */
    display: none; /* Masque initialement l'overlay */
}

.disabled {
	background-color: #777;
}

.green {
	background-color: #1D6154;
}